<div class="admin-container">
  <h2>Administrator Kontrolpanel</h2>
  <div class="admin-options">
    <a routerLink="/order-list">Se Ordrer</a>
    <a routerLink="/sales-item-list">Håndter Produkter</a>
    <a routerLink="/sales-item-create">opret Produkter</a>
    <a routerLink="/ingredient-list">Håndter Ingridienser</a>
    <a routerLink="/ingredient-create">Opret Ingridienser</a>
    <a routerLink="/sales-item-composition-list">Håndter Combos</a>
    <a routerLink="/sales-item-composition-create">Opret Combos</a>
    <a routerLink="/shop-list">Håndter Butikker</a>
    <a routerLink="/shop-Create">Opret Butikker</a>
    <a routerLink="/customer-group-list">Håndter Kundegrupper</a>
    <a routerLink="/customer-group-create">Opret Kundegrupper</a>
    <a routerLink="/discount-list">Håndter Rabatter</a>
    <a routerLink="/discount-create">Opret Rabatter</a>
    <!-- Tilføj yderligere admin-links her -->
  </div>
</div>

