<div class="shop-detail-container" *ngIf="shop">
  <h2>{{ shop.name }}</h2>
  <img [src]="getFullImagePath(shop.imageUrl)" alt="{{ shop.name }}" class="shop-image">
  <div class="sales-items">
    <h3>Produkter</h3>
    <div class="item-list">
      <div *ngFor="let item of salesItems" class="item-card">
        <img [src]="getFullImagePath(item.imageUrl)" alt="{{ item.name }}" class="item-image">
        <div class="item-info">
          <h4>{{ item.name }}</h4>
          <p>Pris: {{ item.basePrice }} kr</p>
          <button (click)="addSalesItemToBasket(item)">Tilføj til Kurv</button>
        </div>
      </div>
    </div>
  </div>
</div>
