<div *ngIf="salesItem" class="sales-item-detail">
  <h2>{{ salesItem.name }}</h2>
  <img [src]="getFullImagePath(salesItem.imageUrl)" alt="{{ salesItem.name }}">
  <p>Pris: {{ salesItem.basePrice | currency }}</p>

  <h3>Vælg Ingredienser:</h3>
  <div *ngFor="let ingredient of ingredientOptions">
    <!-- Visning af Ingrediensbillede -->
    <img [src]="getFullImagePath(ingredient.ingredient?.imageUrl)"
         alt="{{ ingredient.ingredient?.name ?? 'Ingen Navn' }}">

    <!-- Ingrediensnavn og Pris -->
    <span>{{ ingredient.ingredient?.name ?? 'Ingen Navn' }} ({{ ingredient.ingredient?.ingredientPrice | currency }})</span>

    <!-- Knapper til at justere antallet af Ingredienser -->
    <div>
      <button (click)="removeIngredient(ingredient.ingredientId)">-</button>
      <span *ngIf="ingredient.count >= 0">{{ ingredient.count }}x {{ ingredient.ingredient?.name }}</span>
      <span *ngIf="ingredient.count < 0">Fjernet: {{ ingredient.ingredient?.name }}</span>
      <button (click)="addIngredient(ingredient.ingredientId)">+</button>
    </div>
  </div>

  <button (click)="addToBasket()">Tilføj til Kurv</button>
</div>

<div *ngIf="!salesItem" class="no-sales-item">
  <p>Ingen vare fundet.</p>
</div>
