<div class="basket-container">
  <h2>Din Kurv</h2>
  <div *ngIf="basketItems.length === 0">Din kurv er tom.</div>

  <div *ngFor="let basketItem of basketItems" class="basket-item">
    <div class="item-details">
      <img [src]="getFullImagePath(isSalesItem(basketItem.item) ? basketItem.item.imageUrl : basketItem.item.parentItem?.imageUrl)" alt="{{ getItemName(basketItem) }}">
      <div class="item-info">
        <h3>{{ getItemName(basketItem) }}</h3>
        <p>Mængde: {{ basketItem.quantity }}</p>
        <p>Pris: {{ basketItem.totalPrice | currency }}</p>
      </div>
    </div>

    <!-- Tilpasninger for enkelte varer (SalesItem) -->
    <div *ngIf="isSalesItem(basketItem.item)" class="customizations">
      <h4>Tilpasninger:</h4>
      <ul>
        <ul>
          <li *ngFor="let ingredient of availableIngredients[basketItem.item.id]">
            {{ ingredient.ingredient.name }} - Antall: {{ ingredient.count }}
            <div class="ingredient-controls">
              <button (click)="addIngredient(basketItem.item.id, ingredient.ingredientId)">+</button>
              <button (click)="removeIngredient(basketItem.item.id, ingredient.ingredientId)">-</button>
            </div>
          </li>
        </ul>
      </ul>
   

    <!-- Tilpasninger for sammensatte menuer (SalesItemComposition) -->
    <div *ngIf="isSalesItemComposition(basketItem.item)">
      <h4>Menu Tilpasninger:</h4>
      <ng-container *ngIf="basketItem.item as compositeItem">
        <div *ngFor="let childItem of compositeItem.childItems">
          <h5>{{ childItem.name }}</h5>
          <ul>
            <li *ngFor="let ingredient of availableIngredients[childItem.id]">
              <span>{{ingredient.ingredient.name }} ({{ ingredient.count }})</span>
              <div class="ingredient-controls">
                <button (click)="onAddIngredientToChild(childItem.id, ingredient.ingredientId)">+</button>
                <button (click)="onRemoveIngredientFromChild(childItem.id, ingredient.ingredientId)">-</button>
              </div>
            </li>
          </ul>
        </div>
   


    <div class="total-price">
      <p>Total Pris: {{ getTotalPrice() | currency }}</p>
      <button (click)="clearBasket()">Tøm Kurv</button>
    </div>
  
